@tailwind base;
@tailwind components;
@tailwind utilities;

.categoryTitle:hover .categoryBorder {
  border: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  max-height: 50px;
  min-height: 50px;
}

.iconDiv .copyContainer:hover .copy {
  display: block;
}

.iconDiv .bookmarkContainer:hover .Bookmark {
  display: block;
}
.iconDiv .memorizeContainer:hover .memorize {
  display: block;
}
.iconDiv .shareContainer:hover .share {
  display: block;
}
.iconDiv .reportContainer:hover .report {
  display: block;
}

.copy::before,
.Bookmark::before,
.memorize::before,
.share::before,
.report::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #3d454e;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.active-link {
  background-color: red;
}
