@tailwind base;
@tailwind components;
@tailwind utilities;

.categoryTitle:hover .categoryBorder {
  border: none;
}

.largeCategory::-webkit-scrollbar {
  width: 7px;
}
.smallCategoryScroll::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  width: 7px;
}
/* ::-webkit-scrollbar-thumb:horizontal {
  display: none;
} */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  max-height: 50px;
  min-height: 50px;
}

.iconDiv .copyContainer:hover .copy {
  display: block;
}

.iconDiv .bookmarkContainer:hover .Bookmark {
  display: block;
}
.iconDiv .memorizeContainer:hover .memorize {
  display: block;
}
.iconDiv .shareContainer:hover .share {
  display: block;
}
.iconDiv .reportContainer:hover .report {
  display: block;
}

.copy::before,
.Bookmark::before,
.memorize::before,
.share::before,
.report::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #3d454e;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

/* ProgressBar.css */

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px; /* Adjust height as needed */
  background-color: #ccc; /* Set progress bar background color */
  border-radius: 5px; /* Round the corners */
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #007bff; /* Set progress bar color */
  border-radius: 5px; /* Round the corners */
}

.circle {
  position: absolute;
  top: -5px; /* Adjust position to center the circle vertically */
  left: 0;
  width: 20px; /* Adjust circle size as needed */
  height: 20px; /* Adjust circle size as needed */
  background-color: #007bff; /* Set circle color */
  border-radius: 50%;
  animation: moveCircle linear infinite;
}

@keyframes moveCircle {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(100%);
  }
}
